.header {
    box-shadow: 1px 1px 2px 0px #000;
    min-height: 80px;
}
.logo-holds {
    justify-content: center;
    align-items: center;
    display: flex;
}
.flex-grow {
    flex-grow: 1;
    text-align: left;
}
.d-flex {
    display: flex;
}
ul.logo-list {
    margin: 0;
    padding: 0;
    display: flex;
}
ul.logo-list li{list-style: none;margin: 0 10px;}