.react-datepicker-wrapper{width:100%;}
.no-color {
  background-color: transparent;
  color: #000;
}
.none{display: none;}
.block{display: block}
.depart-box{ 
    border: 1px solid #ccc;border-radius:3px;
}
.depart-box ul li{list-style: none;    padding: 0 20px;
  margin: 2px 0;}
  .depart-box ul li:hover{background:  #ced4da}
 form input[type='text'],input[type='number']{display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    .thanks-screen {margin-top:11%;
    }
    .back-show{background: #66cc00;padding: 5px;}
    footer + .back-show{position: fixed;
        width: 100%;
        bottom: 0;}
    footer {
      background: #4b286d;color:#fff;padding: 10px 0 20px;
      text-align: center;
      position: fixed;
      width: 100%;
      bottom: 0;
    }
    .custom-error {
      font-size: 12px;
      font-style: italic;
      margin-bottom: 5px;
      color: red;
  }
  .custom-calender{position: relative;}
span.calender {
    position: absolute;
    bottom: 11px;
    right: 18px;
}

.depart-box  input[type="checkbox"]{margin-right:8px}
.badge-depart{margin-right:6px }
.form-wrap {
  margin-bottom: 135px;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  float: right;
  margin-top: 11px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da !important;
  border-color: #f5c6cb;
}